@font-face {
    font-family: 'Doto';
    src: url('/fonts/Doto-VariableFont_ROND,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreFranklin';
    src: url('/fonts/LibreFranklin-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #827c7a;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}

.scoreboard_wrapper {
    display: flex;
    flex-direction: column;
}

.scoreboard_title_wrapper {
    background-color: #325654;
    font-size: 24px;
    color: white;
    text-align: center;
}x

.buttons-wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    grid-gap: 200px;

    height: 65vh;
    background-color: #325654;
}

.button {
    background-color: #4f4b4a;

    transition: 0.9s;

    padding: 15px;

    width: 250px;
    border: 0;
    border-radius: 10px;

    font-family: Doto, sans-serif;
    color: #cee740;
    font-size: 36px;
    font-weight: 500;

    height: 25%;
}

.button:hover {
    background-color: #827c7a;
}

.poles-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.poles {
    width: 50px;
    height: 35vh;
    background-color: #325654;
}

.shadow {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}